{% extends 'layout' %}

{% block title %}{{ item.title }}{% endblock %}

{% block body %}
<div class="item foreword">
	<h1 id="{{ item.id }}"><span>{{ item.label }}</span> {{ item.title }}</h1>
	{{ item.toc }}
  	{{ item.content }}
</div>
{% endblock %}
