{% extends 'layout' %}

{% block title %}{{ item.title }}{% endblock %}

{% block body %}
<div class="item preface">
	<h1 id="{{ item.id }}"><span>{{ item.label }}</span> {{ item.title }}</h1>
	{{ item.toc }}
  	<div class="main">
  		{{ item.content }}
  	</div>
</div>
{% endblock %}
